
<div class="container">
    <br><br><br>
    
    <br>
    <h1 class="text-center" style="font-size: 30px;">Origins model</h1>
    <mat-card class="m-2 p-0">
        
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
                <div class="col">
                    <div mat-dialog-actions align="start" style="margin-top: 4%;">
                        <mat-form-field style="width:400px !important;">
                            <mat-label >Search</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Search Origins" #input>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col">
                    <div mat-dialog-actions align="end" style="margin-top: -5%; margin-bottom: 1%;">
                        <button mat-raised-button  (click)="openDialog(null)" style="text-align: right; background-color: blue; color: white;"> 
                            <mat-icon>add</mat-icon>
                            Add Origins
                        </button>
                    </div>
                </div>
                
            
            
        </div>
        <mat-divider></mat-divider>
    

        <div class="table-wrapper"> 
            <table mat-table [dataSource]="dataSource" matSort class="w-100">
            
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: blue; color: white;"> ID </th>
                    
                    <td mat-cell *matCellDef="let data"> {{data.id}} </td>
                </ng-container>   
    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: blue; color: white;"> name </th>
                   
                    <td mat-cell *matCellDef="let data"> {{data.name}} </td>>
                </ng-container> 
    
                 <!-- CreatedBy Column -->
                 <ng-container matColumnDef="createdById">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: blue; color: white;"> Created by </th>
                   
                    <td mat-cell *matCellDef="let data"> {{data.createdById}} </td>
                </ng-container> 
    
                 <!-- Branch Column -->
                 <ng-container matColumnDef="branchId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: blue; color: white;"> Branch </th> 
                          
                    <td mat-cell *matCellDef="let data"> {{data.branchId}} </td>
                </ng-container> 
    
                
    
                  <!-- date Column -->
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: blue; color: white;"> Created Date </th>
                    <td mat-cell *matCellDef="let data"> {{data.createdAt}} </td>
                </ng-container> 

            
                 <!-- Estatus Column -->
                 <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: blue; color: white;"> Status </th>
                    <td mat-cell *matCellDef="let data"> 
                        <mat-slide-toggle [checked]=true></mat-slide-toggle>
                    </td>
                </ng-container> 

                <!-- Editar Column -->
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef style="background-color: blue; color: white;"> Edit </th>
                    <td mat-cell *matCellDef="let data"> 
                        <button mat-icon-button color="primary" (click)="openDialog(data)" matTooltip="Edit"> 
                            <mat-icon>edit</mat-icon>
                        </button>   
                    </td>
                </ng-container> 

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef style="background-color: blue; color: white;"> Delete </th>
                    <td mat-cell *matCellDef="let data"> 
                        <button mat-icon-button color="primary" (click)="deleteOrigin(data)" matTooltip="Delete"> 
                            <mat-icon>delete</mat-icon>
                        </button>   
                    </td>
                </ng-container> 
                 

                
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
            </table> 
            <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
    </mat-card>

    <button mat-button class="menu-button" (click)="logout()" >
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
</div>
