.bk{
    margin: 0;
    padding: 10%;
    background: url(../..//../assets/bg2.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    
   }

   .lablel {
    padding: 1em 1em;
    border-radius: 0.3rem;
    border: none;
    text-align: center;
    box-shadow: none;
    background: none;
    color: #fff; 
   }

  .form-control {
    padding: 1em 1em;
    border-radius: 0.3rem;
    border: none;
    text-align: center;
    box-shadow: none;
    background: none;
    color: #fff;   
    outline: 0px;
    border-bottom: 1px solid #c7c7c7;
    
  }

  .form-control::placeholder {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f007";
    color:#fff;
  }
  
  .form-control:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

