<div class="bk">
    <div class="container w75 py-5 rounded">
        <div class="row aling-items-stretch">
            <div class="col bg d-none d-lg-block"></div> 

            <div class="col mt-5 shadow p5 rounded-end" >
                <div class="text-center col mt-5">
                    <img src="../../../assets/bg.png" width="30%" alt="">
                </div>

                <h2 class="fw-bold text-center py-3"> </h2>
                    <!-- Login -->
                <form [formGroup]="formulario" (ngSubmit)="LogIn()">
                    <div class="mb-4">
                        
                        <input type="text" formControlName="email" class="form-control" name="email" placeholder="   Email or username*">
                    </div>
                    <div class="mb-4">
                        
                        <input type="password" formControlName="password" placeholder="   Password*" class="form-control" name="password">  
                        
                    </div>
                    
                    <div class="d-grid">
                        <button type ="submit" class="btn btn-primary">Log in</button>
                    </div>

                    <div class="lablel"><label for="forgotPw">Forgot password?</label></div>
                </form>
            </div>
            <div class="col bg d-none d-lg-block"></div>
        </div>
        
    </div>
</div>