<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="tam pt-3" #f="ngForm"> 
    <div class="header  tm "> 

        <h2 style="font-weight: 400;" class="text-center"> {{(data) ? 'Edit' : 'Add'}} Origins </h2>
           
    </div> 

    <div mat-dialog-content>       
        <div fxLayout="row wrap">
            

            
            <div  fxFlex="100" fxFlex.gt-sm="50" class="px-3 pb-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="branchId" placeholder="Select Branch">
                      <mat-select-filter [placeholder]="'Search for branch'" [displayMember]="'name'" [array]="dealers"
                        (filteredReturn)="filtered =$event"></mat-select-filter>
                      <mat-option *ngFor="let item of filtered" [value]="item.id">
                       {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['branchId'].errors?.['required']">Branch required*</mat-error>
                </mat-form-field>

            </div>  

            <div fxFlex="100" fxFlex.gt-sm="50" class="px-3 pb-1">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Origin Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="form.controls['name'].errors?.['required']">Name required*</mat-error>
                </mat-form-field>
            </div>



        </div> 
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 justify-content-center text-center"> 
            <button mat-raised-button color="warn" type="button" (click)="onNoClick()" >Cancelar</button> 
            <button mat-raised-button color="primary" type="submit"  [disabled]="f.invalid">Guardar</button>
        </div> 
    </div>
</form> 